    
    .carrito-articulo {
    border: 2px solid black;
    border-radius: 30px;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carrito-articulo img {
    width: 15%;
    max-width: 140px;
    min-width: 100px;
    height: 160px;
    border-radius: 30px;
}



.precio p {
    text-align: center;
    font-size: 20px;
}

.articulo-cantidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.articulo-cantidad label {
    text-align: center;
}

.articulo-cantidad input {
    width: 100px;
    text-align: center;
}

.cerrar-articulo {
    font-size: 30px;
}

#carrito-total{
    margin: 10px 0;
    font-size: 1.5rem;
}

.icon-close:hover{
    color: red;
}

#enviar-carrito{
    background-color: white;
    width: 90px;
    height: 25px;
    font-size: 15px;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 15px;
}

#enviar-carrito:hover{
    color: goldenrod;
    border-color: goldenrod;
    transition: color .3s,border-color .3s;
}

.contenedor-precios {
    display: flex;
    gap: 20px;
}

.contenedor-precios div p {
    text-align: center;
    font-size: 20px;
}
    
    
    
@media (max-width:768px) {

    .carrito-articulo{
        height: 500px;
        flex-direction: column;
        

    }
    
    .carrito-articulo img{
        width: 100%;
        max-width: 150px;
        height: 160px;
        margin: 6px;
    }
    .articulo-cantidad{
        order:1;
    }
    .cerrar-articulo{
        order: 2;
    }
    #carrito-pantalla{
        width: 95vw;
        
    }
}