.main-prod {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-main-prod {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 5px 20px;
    
}

.boton-agregar{
    background-color: #e5e0d8;
    border: none;
    font-size: 40px;
    transition: color 1s,transform 1s;
    cursor: pointer;
}

.boton-agregar:hover{
    color: goldenrod;
    transform: scale(1.1);
    transition: color 1s,transform 1s;
}

@media (max-width:900px){

    .contenedor-main-prod{
        
        grid-template-columns: 100%;
        gap: 20px;
    }

}